<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Tatayab Purchase Modifications</h2>
            <h3 class="oe_slogan">New features, new helper fields</h3>
        </div>
        <div class="oe_span3">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="Tatayablogo.jpeg"/>

            </div>
        </div>
        <div class="oe_span9">
            <p class="oe_mt32">
                This module add
            <ul>
                <li> security group to control sku of products</li>
                <li> brand column to purchase lines</li>
                <li> barcode column to purchase lines</li>
                <li> retail price column to purchase line</li>
                <li> purchase type to purchase</li>
                <li> brands and purchase type on partner</li>
                <li> new print for RFQ with retail price</li>
            </ul>
            </p>
        </div>
    </div>

</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-center">CONTRIBUTORS LIST</h1>
            <span><b>Consultant:</b></span><br/>
            <span class="oe_mt32">- Mohamed Fares <a href="mailto:m.fares@tatayab.com">email</a></span><br/>
            <span><b>Development:</b></span><br/>
            <span class="oe_mt32">- Ahmed Salama <a href="mailto:a.salama@tatayab.com">email</a></span><br/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:a.salama@tatayab.com">email</a> or visit our website <a
                    href="http://tatayab.com " target="_blank">Tatayab</a></p>
        </div>
    </div>
</section>
