<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#000; font-weight: 700;">Multi <span style="color:#0782a0;">Search</span></h2>
         <p class="oe_slogan" style="font-size: 19px;color: gray;">Search for records in bulks on any page/model easily.</p>
        <h4 class="oe_slogan"><a style="color: #0782a0;" href="https://www.smartway.co">Smart Way Business Solutions</a> </h4>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
         <div class="oe_centered oe_slogan " style="width: 1000px; height: 50px;  border-radius: 30px; padding: 10px 0;">
              <div class="oe_span2" style="background: #595a5c; padding: 14px; border-radius: 30px 0 0px 30px;">
                  <span style="font-size: 16px; color: #fff; font-weight: 700;">
                      1
                  </span></div>
              <div class="oe_span10 oe_leftalign" style="background: #0782a0; padding: 14px; border-radius: 0 0px 0 0;">
                  <span style="font-size: 16px; font-weight: bold; color: #fff;">
                     Ability to use { } to define your search without the need to use separators (only spacing).
                </span></div>
          </div>

          <div class="oe_centered oe_slogan " style="width: 1000px; height: 50px;  border-radius: 30px; padding: 10px 0;">
              <div class="oe_span2" style="background: #595a5c; padding: 14px; border-radius: 30px 0 0px 30px;">
                  <span style="font-size: 16px; color: #fff; font-weight: 700;">
                      2
                  </span></div>
              <div class="oe_span10 oe_leftalign" style="background: #0782a0; padding: 14px; border-radius: 0 0px 0 0;">
                  <span style="font-size: 16px; font-weight: bold; color: #fff;">
                    Ability to copy/paste columns from sheets in the search bar to look for corresponding records on the system.
              </span></div>
          </div>

          <div class="oe_centered oe_slogan " style="width: 1000px; height: 50px;  border-radius: 30px; padding: 10px 0;">
              <div class="oe_span2" style="background: #595a5c; padding: 14px; border-radius: 30px 0 0px 30px;">
                  <span style="font-size: 16px; color: #fff; font-weight: 700;">
                      3
                  </span></div>
              <div class="oe_span10 oe_leftalign" style="background: #0782a0; padding: 14px; border-radius: 0 0px 0 0;">
                  <span style="font-size: 16px; font-weight: bold; color: #fff;">
                     Free feature updates, upgrades and bug fixes.
              </span></div>
          </div>
		 <div class="oe_centered oe_slogan " style="width: 1000px; height: 50px;  border-radius: 30px; padding: 10px 0;">
              <div class="oe_span2" style="background: #595a5c; padding: 14px; border-radius: 30px 0 0px 30px;">
                  <span style="font-size: 16px; color: #fff; font-weight: 700;">
                      4
                  </span></div>
              <div class="oe_span10 oe_leftalign" style="background: #0782a0; padding: 14px; border-radius: 0 0px 0 0;">
                  <span style="font-size: 16px; font-weight: bold; color: #fff;">
                      Compatible with Odoo Community & Enterprise editions.
              </span></div>
          </div>
    </div>
 </section>

 <section class="oe_container">
    <div class="oe_row oe_spaced" style="background: #0782a0; height: 3px;"></div>
      <h3 class="text-center"  style="font-size: 30px; color: #000;">User Guide</h3>
    <div class="oe_row ">
         <div class="oe_span12 oe_pic_ctr">
            <p class="oe_mt32 oe_picture" style="text-align: justify;background: #77777730; border-radius: 15px; padding: 30px; font-size: 17px;">
              After installing the app, navigate to any page/model you'd like to search for records in.
            </p>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="1.png" style="width: 100%; max-height: 480px;"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="background: #0782a0; height: 3px;"></div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_pic_ctr">
            <p class="oe_mt32 oe_picture" style="text-align: justify;background: #77777730; border-radius: 15px; padding: 30px; font-size: 17px;">
                For bulk searching, write the characters (the module's search function works on 'Char' fields only) of the records you need to search for between curly brackets as shown 
                in the image.
            </p>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="2.png" style="width: 100%; max-height: 480px;"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="background: #0782a0; height: 3px;"></div>
    <div class="oe_row oe_spaced">
         <div class="oe_span12 oe_pic_ctr">
            <p class="oe_mt32 oe_picture" style="text-align: justify;background: #77777730; border-radius: 15px; padding: 30px; font-size: 17px;">
               Another awesome way for an easy, quick & specified search is to copy columns or data from spreadsheets in between curly brackets in the search bar to get
               corresponding results.
            </p>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="3.png" style="width: 100%; max-height: 480px;"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="4.png" style="width: 100%; max-height: 480px;"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="height: 2px; background-image: linear-gradient(to right, #0782a0 50%, rgba(255, 255, 255, 0) 1%);background-position: top;background-size: 20px 1px; background-repeat: repeat-x;"></div>

    <div class="oe_rightfit oe_leftfit" style="margin-top:-15px">
        <img src="oe_footer_guideline.jpg" style="width: 100%;  max-height: 480px;"/>
    </div>
    <div class="oe_slogan">
        <div class="oe_centeralign" style="margin-top: 30px;">
            <a class="oe_button" href="mailto:support@smartway.co"
               style="text-align: center;width: 275px; background: #0782a0; font-size: 18px; box-shadow: none;">
                <span class="fa fa-life-ring" style="font-size: 22px;  margin-right: 10px;"/>Get Support</a>

            <a class="oe_button" href="https://www.smartway.co/request_customization"
               style="text-align: center;width: 275px; background: #0782a0; font-size: 18px; box-shadow: none;">
                <span class="fa fa-cogs" style="font-size: 22px; margin-right: 10px;"/>
                <span>Request Customization</span></a>
        </div>
        <div class="oe_centeralign" style="margin-top: 30px;">
        <a href="skype:smart.way-sw?call" style="color: #0782a0;"><i class="fa fa-2x fa-skype" style="width:35px;"></i></a>
        <a href="https://www.linkedin.com/company/smartway-jo" target="_blank" style="color: #0782a0;"><i class="fa fa-2x fa-linkedin"style="width:35px;padding-left: 3px;"></i></a>
        <a href="https://www.facebook.com/smartwayjo" target="_blank" style="color: #0782a0;"><i class="fa fa-2x fa-facebook" style="width:35px;padding-left: 8px;"></i></a>
        <a href="https://www.youtube.com/channel/UCt_xfXm47W1CosriFYd8Qng" target="_blank" style="color: #0782a0;"><i  class="fa fa-2x fa-youtube" style="width:35px;padding-left: 3px;"></i></a>
       </div>
    </div>
</section>

