<section class="oe_container pt16 mt16" style="margin-left:calc(-42vw + 50&#37;); width:84vw">
                        <div class="row o_equal_col_sm" style="max-width:1540px; margin:0 auto; background-color:#ebf2f8; padding-bottom:92px; border-radius:15px">
                            <div class="" style="display:block; margin:0 auto; max-width:330px; width:80&#37;"><span style="width:100&#37;; display:inline-block"> <img class="img img-responsive mt24 mb8" src="logo_main.svg" style="display:block; margin:0 auto"> </span>
                            </div>
                        </div>
                    </section>
<section class="oe_container bg-transparent fixed-top position-relative" style="margin:-5rem 0 0">
                                        <div class="o_equal_col_sm">
                                            <div class="shadow bg-white pb32 pt32 px-2" style="border-radius:15px">
                                                <h3 class="oe_slogan" style="color:#0f1e40; font-family:Montserrat; font-weight:700; text-align:center; text-transform:uppercase; opacity:1; font-size:24px; margin-bottom:18px; margin-top:18px">
                                                    Odoo Magento 2 Connector
                                                </h3>
                                                
                                                <p class="mb16 text-center text-black-dark px-3" style="font-family: Roboto;font-weight: normal;color: #11335b;font-size: 14px;">Magento Odoo integration is a necessity because the manual entry of data between the two platforms is simply not possible after a certain level of growth, where the data becomes bigger and more complex. Our Odoo-Magento 2 connector app automates your vital business processes and eliminates the need for manual data entry in Odoo by enabling bi-directional data exchange between your Magento 2 and Odoo. Also, this module saves your time by automatically & instantly synchronizing your catalogs, orders, customers, and inventory data from your online store in Magento 2 to Odoo. After installation of this module, there will be a rare need to login into Magento 2 admin panel for managing business operations. You can manage most of the operations from Odoo itself and that too with integrating inventory with other popular business apps like CRM, Purchase & Accounting.</p>
                                                <h3 style="color: #2e7dda;font-family: Montserrat;font-weight: 600;text-align:center;font-size: 17px;opacity: 1;margin: 8px 0 16px;" class="oe_slogan">GET INSTANT PERSONALIZED DEMO</h3>
                                                <div style="font-weight:500; font-size:15px; margin:0 auto; border:1px solid #0074ff; display:flex; background-color:#0074ff; border-radius:10px; min-width:350px">
                                                    <div class="text-center" style="color:#091E42; font-family:Montserrat; padding:0; min-width:100&#37;;">
                                                        <span class="bg-white position-relative shadow" style="padding:7px; color:#0f1e40; float:left; font-weight:600; width:65px; vertical-align:middle; border-bottom-left-radius:9px; border-top-left-radius:9px; font-size:12px; height:50px">
                                                        <span class="text-left d-inline-block pl-2">COPY LINK</span>
                                                        <span class="fa fa-play text-white position-absolute" style="font-size:18px; margin:10px 0px 0 5px; height:50px"></span>
                                                        </span>
                                                        <p style="vertical-align:middle; border-top-right-radius:9px; border-bottom-right-radius:9px; line-height:50px; color:#fff; font-weight:500; padding:0px 15px 0px 80px" class="text-center mb0">https://bit.ly/om2c-15-demo</p>
                                                    </div>
                                                </div>
                                                <p class="text-center my-2 text-uppercase" style="color:#091E42; font-size:14px; font-family:Montserrat; font-weight:500">or</p>
                                                <div class="text-center mb-3">
                                                    <a href="mailto:info@emiprotechnologies.com?subject= Free Demo of Odoo Magento 2 Connector v15" target="_blank" style="color:#091E42; font-family:Montserrat; display:inline-block; padding:13px 30px; border:1px solid #0074ff; border-radius:10px" class="mx-1 mb-2 deep-1 deep_hover">
                                                        <span class="fa fa-envelope-o mr-2" style="color:#0074ff; font-size:20px; vertical-align:middle"></span>
                                                        <span style="color:#0f1e40; font-size:16px; vertical-align:middle">Email Us</span>
                                                    </a>
                                                    <a href="skype:emiprotech?chat" target="_blank" style="color:#091E42; font-family:Montserrat; display:inline-block; padding:13px 30px; border:1px solid #0074ff; border-radius:10px" class="mx-1 mb-2 deep-1 deep_hover">
                                                        <span class="fa fa-skype mr-2" style="color:#0074ff; font-size:20px; vertical-align:middle"></span>
                                                        <span style="color:#0f1e40; font-size:16px; vertical-align:middle">Skype Us</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
<!--HIGHLIGHTS--->
<section class="oe_container pb-5">
                                       <div class="mt64 mb64">
                                           <h2 style="color:#091E42; font-family:&quot;Montserrat&quot;; text-align:center; margin:25px auto; text-transform:uppercase" class="oe_slogan">
                                               <b>Highlights</b>
                                           </h2>
                                           <div class="row">
<div class="col-md-6 col-sm-12 mt32">
                                                                    <div class="container shadow" style="border-radius:10px; padding:10px 0px">
                                                                        <div class="col-md-3" style="float:left">
                                                                            <img class="img img-responsive" src="screens/odoo Magento 2.png">
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-left:0; float:left; width:70&#37;;">
                                                                            <h3 class="mt16 mb0" style="font-family:Roboto; font-weight:500; font-size:22px">Odoo Magento2 Integration</h3>
                                                                            <p class=" mt8" style="font-family:Roboto;">
                                                                                Allows multiple Magento2 stores to be integrated with Odoo, and all operations can be managed from Odoo.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
<div class="col-md-6 col-sm-12 mt32">
                                                                    <div class="container shadow" style="border-radius:10px; padding:10px 0px">
                                                                        <div class="col-md-3" style="float:left">
                                                                            <img class="img img-responsive" src="screens/manage-product.png">
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-left:0; float:left; width:70&#37;;">
                                                                            <h3 class="mt16 mb0" style="font-family:Roboto; font-weight:500; font-size:22px">Manage Products</h3>
                                                                            <p class=" mt8" style="font-family:Roboto;">
                                                                                Import and export products for simple and configurable type products.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
<div class="col-md-6 col-sm-12 mt32">
                                                                    <div class="container shadow" style="border-radius:10px; padding:10px 0px">
                                                                        <div class="col-md-3" style="float:left">
                                                                            <img class="img img-responsive" src="screens/manage-order.png">
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-left:0; float:left; width:70&#37;;">
                                                                            <h3 class="mt16 mb0" style="font-family:Roboto; font-weight:500; font-size:22px">Manage Orders</h3>
                                                                            <p class=" mt8" style="font-family:Roboto;">
                                                                                Import shipped and unshipped orders from Magento2 to Odoo.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
<div class="col-md-6 col-sm-12 mt32">
                                                                    <div class="container shadow" style="border-radius:10px; padding:10px 0px">
                                                                        <div class="col-md-3" style="float:left">
                                                                            <img class="img img-responsive" src="screens/import-customer-data.png">
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-left:0; float:left; width:70&#37;;">
                                                                            <h3 class="mt16 mb0" style="font-family:Roboto; font-weight:500; font-size:22px">Import Customers</h3>
                                                                            <p class=" mt8" style="font-family:Roboto;">
                                                                                Import customers Data from Magento2 to Odoo.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
<div class="col-md-6 col-sm-12 mt32">
                                                                    <div class="container shadow" style="border-radius:10px; padding:10px 0px">
                                                                        <div class="col-md-3" style="float:left">
                                                                            <img class="img img-responsive" src="screens/manage-price-&-stock.png">
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-left:0; float:left; width:70&#37;;">
                                                                            <h3 class="mt16 mb0" style="font-family:Roboto; font-weight:500; font-size:22px">Manage Stocks</h3>
                                                                            <p class=" mt8" style="font-family:Roboto;">
                                                                                Synchronize Product Stocks between Magento2 and Odoo seamlessly both with MSI (Multi-Source Inventory) and without MSI.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
<div class="col-md-6 col-sm-12 mt32">
                                                                    <div class="container shadow" style="border-radius:10px; padding:10px 0px">
                                                                        <div class="col-md-3" style="float:left">
                                                                            <img class="img img-responsive" src="screens/export-shipment.png">
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-left:0; float:left; width:70&#37;;">
                                                                            <h3 class="mt16 mb0" style="font-family:Roboto; font-weight:500; font-size:22px">Export Shipping Information</h3>
                                                                            <p class=" mt8" style="font-family:Roboto;">
                                                                                Export Shipment Details along with Tracking number from Odoo to Magento2.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
<div class="col-md-6 col-sm-12 mt32">
                                                                    <div class="container shadow" style="border-radius:10px; padding:10px 0px">
                                                                        <div class="col-md-3" style="float:left">
                                                                            <img class="img img-responsive" src="screens/export-invoice.png">
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-left:0; float:left; width:70&#37;;">
                                                                            <h3 class="mt16 mb0" style="font-family:Roboto; font-weight:500; font-size:22px">Export Invoice Information</h3>
                                                                            <p class=" mt8" style="font-family:Roboto;">
                                                                                Create an Invoice in Odoo and export it to Magento2.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
<div class="col-md-6 col-sm-12 mt32">
                                                                    <div class="container shadow" style="border-radius:10px; padding:10px 0px">
                                                                        <div class="col-md-3" style="float:left">
                                                                            <img class="img img-responsive" src="screens/set-automatic-jobs.png">
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-left:0; float:left; width:70&#37;;">
                                                                            <h3 class="mt16 mb0" style="font-family:Roboto; font-weight:500; font-size:22px">Seamless Automation</h3>
                                                                            <p class=" mt8" style="font-family:Roboto;">
                                                                                Eliminates the need for remembering to perform routine Magento2 actions with automation.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
</div>
        </div>
    </section>
<section class="oe_container mt32 mb32" style="margin-left:calc(-42vw + 50&#37;); width:84vw">
                                               <div id="loempia_tabs" class="row" style="max-width:1540px; margin:0 auto; padding-bottom:64px; border-radius:15px">
                                                  <ul role="tablist" class="nav nav-tabs justify-content-center" data-tabs="tabs" style="border:none;background-color: unset; margin:0 auto;"><li class="nav-item" style="border-top-right-radius:10px; border-top-left-radius:10px; background-color:#e6f6ff; margin-right:10px; border:1px solid #ddd; border-bottom:0">
                                                            <a href="#ept_features" data-toggle="tab" aria-expanded="true" class="show active" style="font-family:Roboto; text-transform:uppercase; font-weight:600; font-size:15px; letter-spacing:1px; padding:11px 20px; border-top-left-radius:10px; border-top-right-radius:10px; color:#2b2b2b; border:1px solid transparent">
                                                                <img src="key_feature.svg" style="width:18px; margin-top:-4px; margin-right:6px"/>Features</a> <span class="border-left-0" style="float:left; margin-top:-4px; margin-left:-5px; width:5px; height:5px; border:1px solid #ddd; border-top:0; border-radius:0 0 5px 0"></span>
                                                            <span class="border-right-0" style="float:right; margin-top:-4px; margin-right:-5px; width:5px; height:5px; border:1px solid #ddd; border-top:0; border-radius:0 0 0 5px"></span>
                                                        </li>
<li class="nav-item" style="border-top-right-radius:10px; border-top-left-radius:10px; background-color:#e6f6ff; margin-right:10px; border:1px solid #ddd; border-bottom:0">
                                                            <a href="#screenshots" data-toggle="tab" aria-expanded="true" class="show" style="font-family:Roboto; text-transform:uppercase; font-weight:600; font-size:15px; letter-spacing:1px; padding:11px 20px; border-top-left-radius:10px; border-top-right-radius:10px; color:#2b2b2b; border:1px solid transparent">
                                                                <img src="" style="width:18px; margin-top:-4px; margin-right:6px"/>Screenshots</a> <span class="border-left-0" style="float:left; margin-top:-4px; margin-left:-5px; width:5px; height:5px; border:1px solid #ddd; border-top:0; border-radius:0 0 5px 0"></span>
                                                            <span class="border-right-0" style="float:right; margin-top:-4px; margin-right:-5px; width:5px; height:5px; border:1px solid #ddd; border-top:0; border-radius:0 0 0 5px"></span>
                                                        </li>
<li class="nav-item" style="border-top-right-radius:10px; border-top-left-radius:10px; background-color:#e6f6ff; margin-right:10px; border:1px solid #ddd; border-bottom:0">
                                                    <a href="#user_guide" data-toggle="tab" aria-expanded="true" class="show" style="font-family:Roboto; text-transform:uppercase; font-weight:600; font-size:15px; letter-spacing:1px; padding:11px 20px; border-top-left-radius:10px; border-top-right-radius:10px; color:#2b2b2b; border:1px solid transparent">
                                                        <img src="support.svg" style="width:18px; margin-top:-4px; margin-right:6px"/>Support</a> <span class="border-left-0" style="float:left; margin-top:-4px; margin-left:-5px; width:5px; height:5px; border:1px solid #ddd; border-top:0; border-radius:0 0 5px 0"></span>
                                                    <span class="border-right-0" style="float:right; margin-top:-4px; margin-right:-5px; width:5px; height:5px; border:1px solid #ddd; border-top:0; border-radius:0 0 0 5px"></span>
                                                </li>
<li class="nav-item" style="border-top-right-radius:10px; border-top-left-radius:10px; background-color:#e6f6ff; margin-right:10px; border:1px solid #ddd; border-bottom:0">
                                                    <a href="#faqs" data-toggle="tab" aria-expanded="true" class="show" style="font-family:Roboto; text-transform:uppercase; font-weight:600; font-size:15px; letter-spacing:1px; padding:11px 20px; border-top-left-radius:10px; border-top-right-radius:10px; color:#2b2b2b; border:1px solid transparent">
                                                        <img src="" style="width:18px; margin-top:-4px; margin-right:6px"/>FAQs</a> <span class="border-left-0" style="float:left; margin-top:-4px; margin-left:-5px; width:5px; height:5px; border:1px solid #ddd; border-top:0; border-radius:0 0 5px 0"></span>
                                                    <span class="border-right-0" style="float:right; margin-top:-4px; margin-right:-5px; width:5px; height:5px; border:1px solid #ddd; border-top:0; border-radius:0 0 0 5px"></span>
                                                </li>
</ul>
                                          <div id="loempia_tabs_content_ept" class="container-fluid" style="border:1px solid #eee; border-radius:10px">

                                          <div class="tab-content container pt-3" id="tabs_content">
<!-- Features Tabs -->
                                                             <div class="tab-pane active show" id="ept_features">
                                                                <div class="container mt48">
<section id="other-legal-references">
<!--<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background-color: #F0F4F7;border-radius: 10px;"> </h3>-->
                                               <ul>
                                                <li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Get Insights of Net Profit on Magento2.</strong> <span style="background-color:#f44f52; padding:4px 10px; vertical-align: middle;    border-radius:8px; font-size:12px; color:#fff; margin-left:0px; font-weight:500" class="shadow-lg">New</span>
                                                </li>
                                                <li class="mb8" style="font-family: Roboto;color:#091E42;">
                                                    <strong>Digest Emails</strong>:  Periodically receive e-mail snapshots providing high-level information about your Magento2 stores. <span style="background-color:#f44f52; padding:4px 10px; vertical-align: middle; border-radius:8px; font-size:12px; color:#fff; margin-left:0px; font-weight:500" class="shadow-lg">New</span>
                                                </li>
                                                <li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Manage Refunds</strong>: Manage Refunds from Odoo to Magento2 and send a credit note. <span style="background-color:#f44f52; padding:4px 10px; vertical-align: middle; border-radius:8px; font-size:12px; color:#fff; margin-left:0px; font-weight:500" class="shadow-lg">New</span> </li>
<li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Webhook</strong>: Get Magento2 orders to Odoo immediately when they are created or canceled, without waiting for the next cron job. (Please note that this is not applicable for Update Order).</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Smart Onboarding Panel</strong>: Provides a time-saving way to set up Magento2 instances.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Dashboard</strong>: Magento2 Instance wise and Website wise.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Manage Multiple Magento2 instances and websites</strong>: Connect Magento2 instances with multiple Magento2 websites with a single Odoo Database.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Map products</strong>: This feature helps you map Odoo product SKUs with Magento2 product SKUs if you have different Product SKUs / Internal References / Default Product Codes on different sales channels.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Supports Magento2 Versions</strong>: 2.2.* to 2.4.* and Enterprise and Community edition both.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Magento2 Custom options</strong>: Magento2 allows adding the custom option and its value in the ordered product. The connector allows users to identify the ordered product with its custom option and value after importing the order. The value of this custom option is readily accessible in the invoice generated from a sales order.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;"><strong>Order Cancellation in Magento2</strong>: This feature allows you to cancel an order from Odoo to Magento2.</li>
</ul><h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background-color: #F0F4F7;border-radius: 10px;">Import Operations</h3>
                                               <ul><li class="mb8" style="font-family: Roboto;color:#091E42;">Unshipped Orders can be imported in bulk or with specific rules based on date ranges or order IDs.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">Import customers.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">Import Products and Products Variances along with Products Images. The option of importing specific products by SKU is also available.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">The importation of Product Categories, Product Attributes, and Tax Classes from Magento2 into Odoo.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">Import product stock (with MSI (Multi-Source Inventory) and without MSI both).</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">The import of shipped (completed) orders from Magento2 into Odoo.</li>
</ul><h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background-color: #F0F4F7;border-radius: 10px;">Export Operations</h3>
                                               <ul><li class="mb8" style="font-family: Roboto;color:#091E42;">Order status updates from Odoo to Magento2 for completed and cancelled orders.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">Export Products and Products Variances along with Products Images.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">Export Products stock from Odoo to Magento2 (with MSI (Multi-Source Inventory) and without MSI both).</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">Export Order Shipment Carrier &amp; Tracking Number.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">Create Invoice in Odoo and export it to Magento2.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;">Manage Refunds.</li>
</ul></section>
<section class="oe_container mt64">
<div class="mb64">

                                                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background-color: #F0F4F7;border-radius: 10px;">Product and Stock Synchronization</h3>

                                                            <div class="mt16 mb16">
                                                                <img src="odoo-Magento2.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                            </div>
</div>
<div class="mb64">

                                                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background-color: #F0F4F7;border-radius: 10px;">Order Management</h3>

                                                            <div class="mt16 mb16">
                                                                <img src="Order management.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                            </div>
</div>
<div class="mb64">

                                                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background-color: #F0F4F7;border-radius: 10px;">Cancel Order</h3>

                                                            <div class="mt16 mb16">
                                                                <img src="Cancel order.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                            </div>
</div>
<div class="mb64">

                                                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background-color: #F0F4F7;border-radius: 10px;">Automatic Jobs</h3>

                                                            <div class="mt16 mb16">
                                                                <img src="Automatic-jobs.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                            </div>
</div>
</section>
</div>
</div>
<div class="tab-pane" id="screenshots">
                                               <section class="oe_container mt48">
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Create Magento2 Instance</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Magento_create_instance.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">General Configurations</h3>
<div class="mt16 mb16">
                                                      <img src="screens/3.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Magento Website Configuration</h3>
<div class="mt16 mb16">
                                                      <img src="screens/1.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Magento Store View Configuration</h3>
<div class="mt16 mb16">
                                                      <img src="screens/2.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Magento Instance Configuration</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Magento_Instance.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Configure Financial Status</h3>
<div class="mt16 mb16">
                                                      <img src="screens/financial_status.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Configure Payment Gateways</h3>
<div class="mt16 mb16">
                                                      <img src="screens/payment_gateway.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Auto Invoice Workflow Configuration</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Autoworkflow.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Customer Invoices</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Magento_Order_Invoice.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Customer Refunds</h3>
<div class="mt16 mb16">
                                                      <img src="screens/customer_refunds.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Import Operations</h3>
<div class="mt16 mb16">
                                                      <img src="screens/import_shipped_orders_operation.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/import_unshipped_orders_operation.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/import_categories_operation.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/import_attributes_operation.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/Map_product_operation.png" class="img img-responsive center-block"/>
                                                  </div>                                                  
<div class="mt16 mb16">
                                                      <img src="screens/import_specific_product_operation.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/import_specific_order_operation.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/import_product_taxclass_operation.png" class="img img-responsive center-block"/>
                                                  </div>
                                                                                                                                                                                                                   
<div class="mt16 mb16">
                                                      <img src="screens/Import_Product.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/Import_customer.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/Import_Product_stock.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Export Operations</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Export_Shipment_information.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/Export_Product_Stock.png" class="img img-responsive center-block"/>
                                                  </div>
<div class="mt16 mb16">
                                                      <img src="screens/Export_Invoice_Information.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Dashboard</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Dashboard.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Magento Delivery Orders</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Magento_Delivery_Order.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Magento Products</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Magento_Product.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Magento Sale Order</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Magento_Sale_Order.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Operation in Queues</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Magento_Product_queue.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Process Queue Manually</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Process_queue_manually.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;"></h3>
<div class="mt16 mb16">
                                                      <img src="screens/33.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Scheduler Configurations</h3>
<div class="mt16 mb16">
                                                      <img src="screens/scheduler_configuration.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Sale Order Report</h3>
<div class="mt16 mb16">
                                                      <img src="screens/Sale_Report.png" class="img img-responsive center-block"/>
                                                  </div>
</div>
</section>
</div>
<div class="tab-pane" id="user_guide" role="tabpanel" aria-labelledby="user_guide_tab">
                                                                            <div class="mb64"><div class="mt32 mx-auto text-center">
                                            <img class="img img-responsive mb0" src="horizontal_line.svg" style="height:1px; display:block">
                                            <h4 class="text-center mt16 mb16 font-weight-bold" style="color:#0f1e40">User Guide</h4>  <span style="width:150px; background-color:#107dff; height:3px; display:block; margin:0 auto"></span>
                                            <img class="img img-responsive mb0" src="horizontal_line.svg" style="height:1px; display:block">
                                        </div>

                                        <div class="mt32 mb32">
                                            <div style="display:block; margin:0 auto; text-align:center">

                                                <div style="vertical-align:middle" class="d-inline-block mx-3 my-3">
                                                    <img class="img img-responsive mb-3" style="width:30px" src="etpl_user_guide.svg">
                                                    <p style="font-weight:500; font-family:roboto; line-height:1.8; color:#0f1e40">
                                                        Read User Guide</p>
                                                    <div style="font-weight:500; font-size:15px; margin:0 auto; border:1px solid #0074ff; display:flex; background-color:#0074ff; border-radius:10px">
                                                        <div class="text-center" style="color:#091E42; font-family:Montserrat; padding:0">
                                                            <span class="bg-white position-relative shadow" style="padding:7px; color:#0f1e40; float:left; font-weight:600; width:65px; vertical-align:middle; border-bottom-left-radius:9px; border-top-left-radius:9px; font-size:12px; height:50px"> <span class="text-left d-inline-block pl-2">COPY LINK</span>  <span class="fa fa-play text-white position-absolute" style="font-size:18px; margin:10px 0px 0 5px; height:50px"></span> </span>
                                                            <span style="height:50px; vertical-align:middle; border-top-right-radius:9px; border-bottom-right-radius:9px; line-height:50px; color:#fff; font-weight:500; float:left; padding:0px 15px 0px 20px;min-width: 200px;">https://bit.ly/om2c-15-ug</span>
                                                        </div>
                                                    </div>
                                                </div></div>
</div>
<div class="mt32 mb32">
                                                <div class="mt32 mx-auto text-center">
                                                    <img class="img img-responsive mb0" src="horizontal_line.svg" style="height:1px; display:block">
                                                    <h4 class="text-center mt16 mb16 font-weight-bold" style="color:#0f1e40">Create a Support Ticket</h4>  <span style="width:150px; background-color:#107dff; height:3px; display:block; margin:0 auto"></span>
                                                    <img class="img img-responsive mb0" src="horizontal_line.svg" style="height:1px; display:block">
                                                </div>
                                                <div class="mt32 mb32">
                                                    <p class="text-center" style="color:#0f1e40; max-width:80&#37;; margin:0 auto">If you face
                                                        any issues while using our app and the issue is arising due to
                                                        our app, we provide you complementary support for a duration of
                                                        <b>90 days</b> from the date of purchase of the respective app.
                                                    </p>
                                                    <p class="text-center mt32" style="color:#0f1e40; max-width:75&#37;; margin:0 auto">To create a
                                                        support ticket, please register on Emipro Support Desk and
                                                        provide us necessary information to help you resolve the
                                                        issue.</p>
                                                </div>
                                                <img class="img img-responsive mb0" src="horizontal_line.svg" style="height:1px; display:block">
                                            </div>
                                            <div class="mt32 mb32">
                                                <div style="display:block; margin:0 auto; text-align:center">
                                                    <div style="vertical-align:middle" class="d-inline-block mx-3 my-3">
                                                        <img class="img img-responsive mb-3" style="width:25px" src="etpl_support_desk.svg"/>
                                                        <p style="font-weight:500; font-family:roboto; line-height:1.8; color:#0f1e40">
                                                            Emipro Support Desk</p>
                                                        <div style="font-weight:500; font-size:15px; margin:0 auto; border:1px solid #0074ff; display:flex; background-color:#0074ff; border-radius:10px">
                                                            <div class="text-center" style="color:#091E42; font-family:Montserrat; padding:0">
                                                                <span class="bg-white position-relative shadow" style="padding:7px; color:#0f1e40; float:left; font-weight:600; width:65px; vertical-align:middle; border-bottom-left-radius:9px; border-top-left-radius:9px; font-size:12px; height:50px"> <span class="text-left d-inline-block pl-2">COPY LINK</span>  <span class="fa fa-play text-white position-absolute" style="font-size:18px; margin:10px 0px 0 5px; height:50px"></span> </span>
                                                                <span style="height:50px; vertical-align:middle; border-top-right-radius:9px; border-bottom-right-radius:9px; line-height:50px; color:#fff; font-weight:500; float:left; padding:0px 15px 0px 20px;min-width: 200px;">https://bit.ly/emipro-support-desk</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="vertical-align:middle" class="d-none d-lg-inline-block mx-3">
                                                        <img class="img img-responsive" src="vertical_line.svg" style="margin:0 auto; display:block; width:1px; height:150px">
                                                    </div>
                                                    <div style="vertical-align:middle" class="d-inline-block mx-3 my-3">
                                                        <img class="img img-responsive mb-3" style="width:20px" src="etpl_support_policy.svg">
                                                        <p style="font-weight:500; font-family:roboto; line-height:1.8; color:#0f1e40">
                                                            Support Policy</p>
                                                        <div style="font-weight:500; font-size:15px; margin:0 auto; border:1px solid #0074ff; display:flex; background-color:#0074ff; border-radius:10px">
                                                            <div class="text-center" style="color:#091E42; font-family:Montserrat; padding:0">
                                                                <span class="bg-white position-relative shadow" style="padding:7px; color:#0f1e40; float:left; font-weight:600; width:65px; vertical-align:middle; border-bottom-left-radius:9px; border-top-left-radius:9px; font-size:12px; height:50px"> <span class="text-left d-inline-block pl-2">COPY LINK</span>  <span class="fa fa-play text-white position-absolute" style="font-size:18px; margin:10px 0px 0 5px; height:50px"></span> </span>
                                                                <span style="height:50px; vertical-align:middle; border-top-right-radius:9px; border-bottom-right-radius:9px; line-height:50px; color:#fff; font-weight:500; float:left; padding:0px 15px 0px 20px;min-width: 200px;">https://bit.ly/emipro-support-policy</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div></div>
</div>
<div class="tab-pane" id="faqs" role="tabpanel" aria-labelledby="faqs_tab">
                                    <div class="mb48"></div>
                                    <section class="oe_container  px-2">
                                       <div class="s_faq mt32 mb32" style="border-radius:10px; background-color:#fff !important">
                                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq2" aria-expanded="false">
                                         <span class="panelcontent">
                                             Is this app compatible with Odoo Enterprise as well as Community?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq2" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, the app works perfectly well with Odoo Enterprise (On-premise and Odoo.SH) as well as Community. Odoo Online (Cloud) does not allow installation of third-party apps and hence this app cannot be installed on Odoo Online.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq3" aria-expanded="false">
                                         <span class="panelcontent">
                                             Do I get free upgrades and support if I purchase the app?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq3" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            
                                    If you purchase our app for Odoo Version 12 and prior, we will provide you access to all the versions up to 12 depending on their availability. Starting version 13, every version of the app will be sold separately.
                                 
                                 We offer free support for a duration of 90 days from the date of purchase.
                                    Kindly read our
                                    support policy
                                    to know the details.    
                                 
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq4" aria-expanded="false">
                                         <span class="panelcontent">
                                             I need an extra feature in this app. How can I request it?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq4" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            You can contact us to request a customization in the app.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq5" aria-expanded="false">
                                         <span class="panelcontent">
                                             How many Magento2 stores can I connect with single Odoo instance?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq5" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            The Odoo Magento2 Connector lets connect as many Magento2 stores as you want with a single Odoo Instance.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq6" aria-expanded="false">
                                         <span class="panelcontent">
                                             Does the Odoo Magento2 Connector allow two-way synchronization of Products?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq6" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, you can perform export operations for Shipment, Invoice and Product Stock from Odoo to Magento2 stores as well as Import Products (Simple &amp; Configurable), Stock, Price, etc. from Magento2 stores to Odoo.&lt;/p&gt;&lt;p&gt;However, you cannot export the products from Odoo to Magento2 stores. If the products are already present on Odoo as well as Magento2, you can establish synchronization between them using the connector.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq7" aria-expanded="false">
                                         <span class="panelcontent">
                                             On what basis are the product synchronized between Magento2 stores and Odoo?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq7" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            The connector synchronizes products by matching the Internal Reference field in Odoo with the SKU field in Magento2 stores. It is mandatory to have a unique SKU or Internal Reference for a product.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq8" aria-expanded="false">
                                         <span class="panelcontent">
                                             What kind of orders get imported to Odoo from Magento2 stores and how can I control it?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq8" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Any order on Magento2 stores can be imported to Odoo if the connector has been configured correctly. Orders in Magento2 stores have different order statuses such as ‘Processing’, ‘On hold’, ‘Completed’ &amp; ‘Pending Payment’. In the connector, you can choose one or more order statuses and import orders only of your chosen statuses.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq9" aria-expanded="false">
                                         <span class="panelcontent">
                                             Can I automize certain synchronization tasks in Odoo?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq9" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes. You can automize the synchronization tasks in Odoo by configuring the Auto Cron Configuration from connector settings.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq10" aria-expanded="false">
                                         <span class="panelcontent">
                                             Can I send Email to customers from Odoo once shipment or invoice is done?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq10" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes. You can send the Emails to customers of your Magento2 stores directly from Odoo. Simply check the box of Shipment, Invoice or both from &lt;b&gt;Magento / Magento Stores / Main Website Store.&lt;/b&gt;
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="margin-bottom:20px;">
                                <div class="panel panel-default overflow-hidden" style="border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title  p-2" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto; padding:15px 15px 15px 50px; line-height:158&#37;;" data-toggle="collapse" href="#faq9" aria-expanded="false">
                                         <span class="panelcontent">
                                             Does the Magento2 Odoo connector support magento 2.2 patch versions?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq9" class="panel-collapse collapse" style="background-color: rgb(240, 244, 247); padding: 15px;">
                                      <div>
                                         <p class="mb0" style="height: auto;padding-left: 2&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            No, Magento2 Odoo connector does not support Magento 2.2 patch versions.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</section><section class="oe_container mt32"><h2 style="color: #091E42;font-family: &quot;Montserrat&quot;;text-align: center;margin: 25px auto;text-transform: uppercase;" class="oe_slogan">
                                       <b>Suggested Products</b>
                                       </h2>
                            
                                       <div id="demo" class="row carousel slide mt64 mb32" data-ride="carousel">
                                          <!-- The slideshow -->
                                          <div class="carousel-inner">
<div class="carousel-item active">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/15.0/woo_commerce_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Odoo-WooCommerce-Connector.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    Odoo WooCommerce Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/15.0/shopify_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Shopify-Odoo-Connector.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    Shopify Odoo Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/15.0/amazon_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Amazon-Odoo-Connector.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    Amazon Odoo Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
<div class="carousel-item">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/15.0/ebay_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="eBay-Odoo-Connector.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    eBay Odoo Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/14.0/bol_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Odoo-bol.com-connector.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    Odoo bol.com connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/14.0/rma_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Return-Order-Management.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    RMA ( Return Merchandise Authorisation ) in Odoo
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
<div class="carousel-item">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/14.0/intercompany_transaction_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Inter-Company-Transaction.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    Inter Company Transfer and Warehouse Transfer
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/14.0/shipstation_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="ShipStation.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    ShipStation Odoo Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/14.0/consignment_management_ept" target="_blank">
                                                           <div style="border-radius: 10px;" class="shadow-sm">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Consignment-Management.jpg"/>
                                                               <h4 class="mt0 text-truncate" style="padding:6&#37; 4&#37;;text-align:center;width:100&#37;;font-family:Roboto-medium;">
                                                                    Consignment Management
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
</div>
                                   <!-- Left and right controls -->
                                   <a class="carousel-control-prev" href="#demo" data-slide="prev" style="margin-left: -30px;width: 35px;color: #000;">
                                       <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span>
                                   </a>
                                   <a class="carousel-control-next" href="#demo" data-slide="next" style="margin-right: -30px;width: 35px;color: #000;">
                                       <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span>
                                   </a>
                                </div>
                            </section>
