<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Tatayab Product Bin Location</h2>
            <h3 class="oe_slogan">Bin Locations With Multi Company</h3>
        </div>
        <div class="oe_span3">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="Tatayablogo.jpeg"/>

            </div>
        </div>
        <div class="oe_span9">
            <p class="oe_mt32">
                This module add
            <ul>
                <li>Product Multi Bin Locations (O2M Field) For TATAYAB.</li>
                <li>Two levels of constrains on product and location.</li>
                <li>Load bin location automatic on stock move and move lines.</li>
                <li>Update Operation Locations & Detailed operation locations Manual from button.</li>
                <li>Update Warehouse field on moves if picking type changed on any stage for pickings.</li>
                <li>Constrain on bin location name to be unique.</li>
            </ul>

            </p>
        </div>
    </div>

</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-center">CONTRIBUTORS LIST</h1>
            <span><b>Consultant:</b></span><br/>
            <span class="oe_mt32">- Mohamed Fares <a href="mailto:m.fares@tatayab.com">email</a></span><br/>
            <span><b>Development:</b></span><br/>
            <span class="oe_mt32">- El-sayed Iraky <a href="mailto:e.iraky@tatayab.com">email</a></span><br/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:e.iraky@tatayab.com">email</a> or visit our website <a href="http://tatayab.com " target="_blank">Tatayab</a></p>
        </div>
    </div>
</section>
