<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">TATAYAB DELIVERY ESNAD</h2>
            <h3 class="oe_slogan">Tatayab Delivery Esnad</h3>
        </div>
        <div class="oe_span3">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="Tatayablogo.jpeg"/>

            </div>
        </div>
        <div class="oe_span9">
            <p class="oe_mt32">
                This module add
            <ul>
                <li>ESNAD DELIVERY METHOD</li>
            </ul>

            </p>
        </div>
    </div>

</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Live Details</h2>
            <ul>
                <li><b>Live URL :</b> http://api.esnad.com.cn/orderInfo/uploadOrderInfo</li>
                <li><b>Client token :</b> 74f825ff9ef84f1ba9b9c4e5dd5d25a2</li>
                <li><b>Client code :</b> tatayabdom</li>
                <li><b>AWB Prefix  :</b> 32211</li>
                <li><b>AWB Sequnce:</b> 32211000000000 till 32211999999999</li>
            </ul>
            <h2>Testing Details</h2>
            <ul>
                <li><b>Live URL :</b> https://testapi.esnad.com.cn/orderInfo/uploadOrderInfo</li>
                <li><b>Client token :</b>tatayab123</li>
                <li><b>Client code :</b>tatayabdom</li>
                <li><b>AWB Prefix  :</b>32211</li>
                <li><b>AWB Sequnce:</b> 32211000000000 till 32211999999999</li>
            </ul>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-center">CONTRIBUTORS LIST</h1>
            <!--            <span><b>Consultant:</b></span><br/>-->
            <!--            <span class="oe_mt32">- Mahmoud Karem <a href="mailto:m.deabes@tatayab.com">email</a></span><br/>-->
            <span><b>Development:</b></span><br/>
            <span class="oe_mt32">- El-sayed Iraky <a href="mailto:e.iraky@tatayab.com">email</a></span><br/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:e.iraky@tatayab.com">email</a> or visit our website <a href="http://tatayab.com " target="_blank">Tatayab</a></p>
        </div>
    </div>
</section>
