<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Tatayab Back to back</h2>
            <h3 class="oe_slogan">New features, new helper fields</h3>
        </div>
        <div class="oe_span3">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="Tatayablogo.jpeg"/>

            </div>
        </div>
        <div class="oe_span9">
            <h4>Product Form:</h4>
            <p>
            Back to Back Product: Boolean field under the field "Is BTB?"<br/>
                If that field is "True" at least one vendor price list must be mentioned</p>
            <p>Current Quantity: Integer field in the vendor price list above the field "quantity"</p>
            <p>Rename the "Quantity" field to be "Minimum Quantity" in the vendor price list</p>
<hr/>
            <h4>Shipment Form:</h4>
            <p>"connected to another shipment" : Boolean field under the field "Payment Lines"
                If that field is "True", then another field must be present which is :</p>
            <p>Connected Shipment: Many2many over "Stock.picking"</p>
            <p>Note: If that previous field is "True", this shipment won't be processed until both it and its connected shipment are Ready.</p>

<hr/>
            <h4>Sales Cycle:</h4>
            <p>Upon executing Sales Orders there are 3 scenarios:</p>
            <ol>
                <li>Orders having only stockable items : will be processed normally as usual i.e. A shipment would be created to reserve the stockable items from the stock to that order only and then processed to be delivered to the customer.
                </li>
                <li>Orders having only BTB items :
                    <ul>
                        <li>A shipment would be generated to make the need in the system, and it would be waiting for another process which is purchasing the items.

                        </li>
                        <li>An RFQ would be automatically created with the following criteria:<br/>
                            Vendor: The vendor having a quantity and also the lowest price vendor<br/>
                            Currency: KWD<br/>
                            Warehouse: Kuwait Warehouse<br/>
                            Deliver To: Kuwait Warehouse: Receipts<br/>
                            Company: Tatayab-Kuwait<br/>
                            Product lines: the product needed in the sales order with the flag "Back to Back" (note that multiple RFQs may be created based on the vendor preference of the items)<br/>
                        </li>

                        <li> At a certain time of the day RFQs from the same vendor will be merged and generate one PO. </li>
                        <li> PO would go through its normal cycle of approvals and confirmations until executed. </li>
                        <li> PO results a shipment receipt which would be processed by the operations team. </li>
                        <li>After receiving the receipt, the Back to Back items would be available, then the shipment of the need would reserve these items and then get executed by the operation. </li>
                        <li> The operations would go through the cycle of the delivery as usual (Pick, Pack and ship) then deliver the order to the client. </li>
                    </ul>
                </li>
                <li>
                    Orders containing both Stockable items and Back to Back items: would have both processes together:
                    <ul>
                        <li>A shipment would be created to reserve the stockable items from the stock to that order only and it will have a flag " waiting for another process" which is the process of receiving the back to back items.
                        </li>
                        <li>A shipment would be generated to make the need in the system, and it would be waiting for another process which is purchasing the items.</li>
                        <li>Both shipments must have the flag "connected to another shipment" as true.
                        </li>
                        <li>Both shipments must have the field " Connected Shipments" to be the other shipment.</li>
                        <li>An RFQ would be automatically created with the same previously mentioned criteria.
                        </li>
                        <li>At a certain time of the day RFQs from the same vendor will be merged and generate one PO.
                        </li>
                        <li>PO would go through its normal cycle of approvals and confirmations until executed.
                        </li>
                        <li>PO results a shipment receipt which would be processed by the operations team.
                        </li>
                        <li>After receiving the receipt, the Back to Back items would be available, then the shipment of the need would reserve these items and then get executed by the operation.
                        </li>
                        <li>The operations would go through the cycle of the delivery as usual (Pick, Pack and ship).
                        </li>
                        <li>Now all shipments connected to the sale order are ready, then they can be processed by the operations team to be delivered to the customer.
                        </li>
                    </ul>
                </li>

            </ol>
        </div>
    </div>

</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-center">CONTRIBUTORS LIST</h1>
            <span><b>Consultant:</b></span><br/>
            <span class="oe_mt32">- Mohamed Fares <a href="mailto:m.fares@tatayab.com">email</a></span><br/>
            <span><b>Development:</b></span><br/>
            <span class="oe_mt32">- Ahmed Salama <a href="mailto:a.salama@tatayab.com">email</a></span><br/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:a.salama@tatayab.com">email</a> or visit our website <a href="http://tatayab.com " target="_blank">Tatayab</a></p>
        </div>
    </div>
</section>
