<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Tatayab Checks</h2>
            <h3 class="oe_slogan">New features, new helper fields</h3>
        </div>
        <div class="oe_span3">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="Tatayablogo.jpeg"/>

            </div>
        </div>
        <div class="oe_span9">
            <p class="oe_mt32">
                This module add some futures on Scrap
            <ul>
                <li>1- Add new checkbox if checks it means that this journal has check payment</li>
                <li>2- Make user choose between two choices if check will pay on two steps or three steps</li>
                <li>3- Add different accounts to crate journal entries on them</li>
                <li>4- User will create invoice/bill and pay it by register payment or create payment direct</li>
                <li>5- Add 3 buttons will appear on payment in case of user select 3 steps payment or 2 button appear in case of user
                    select 2 steps payment
                </li>
            </ul>
            </p>
        </div>
    </div>

</section>

<section class="oe_container" style="padding: 0% 0% 6% 0%;">
    <center>
        <div class="col-md-12" style="margin: auto !important;
         width: 70%;
         padding: 30px;">
            <h2 style="font-size:20px;font-weight: 600;text-align: center;width: 100%;"> CONTRIBUTORS LIST</h2>
            <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
            <div class="col-md-6" style="float:left; padding:20px;">
                <h4> Development by </h4>
                <span class="oe_mt32"> Omnya Rashwan </span><br/>
            </div>
        </div>
    </center>
</section>

<section class="oe_container" style="padding: 0% 0% 6% 0%;">
    <center>
        <div class="col-md-12" style="margin: auto !important;
         width: 70%;
         padding: 30px;">
            <h2 style="font-size:20px;font-weight: 600;text-align: center;width: 100%;"> Need our service? </h2>
            <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
            <h4 style="font-size:16px;"> If you have anything to share with us based on your use of this module, please
                let us know. We are ready to offer our support. </h4>
            <div class="col-md-6" style="float:left; padding:20px;">
                <h4><i class="fa fa-envelope"></i> Email us </h4>
                <p>o.reshwan@tatayab.com</p>
            </div>
            <div class="col-md-6" style="float:left; padding:20px;">
                <h4><i class="fa fa-phone"></i> Contact Us </h4>
                <a href="http://tatayab.com" target="_blank"> Tatayab </a>
            </div>
        </div>
    </center>
</section>
