<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">TATAYAB DELIVERY BARQ</h2>
            <h3 class="oe_slogan">Tatayab Delivery BARQ</h3>
        </div>
        <div class="oe_span3">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="Tatayablogo.jpeg"/>

            </div>
        </div>
        <div class="oe_span9">
            <p class="oe_mt32">
                This module add
            <ul>
                <li>BARQ DELIVERY METHOD</li>
            </ul>

            </p>
        </div>
    </div>

</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Live Details</h2>
            <ul>
                <li><b>Live URL :</b> </li>
                <li><b>Client token :</b> </li>
                <li><b>Client code :</b> </li>
                <li><b>AWB Prefix  :</b> </li>
                <li><b>AWB Sequnce:</b></li>
            </ul>
            <h2>Testing Details</h2>
            <ul>
                <li><b>Live URL :</b></li>
                <li><b>Client token :</b></li>
                <li><b>Client code :</b></li>
                <li><b>AWB Prefix  :</b></li>
                <li><b>AWB Sequnce:</b></li>
            </ul>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-center">CONTRIBUTORS LIST</h1>
            <!--            <span><b>Consultant:</b></span><br/>-->
            <!--            <span class="oe_mt32">- Mahmoud Karem <a href="mailto:m.deabes@tatayab.com">email</a></span><br/>-->
            <span><b>Development:</b></span><br/>
            <span class="oe_mt32">- Omnya Rashwan <a href="mailto:o.reshwan@tatayab.com">email</a></span><br/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:o.reshwan@tatayab.com">email</a> or visit our website <a href="http://tatayab.com " target="_blank">Tatayab</a></p>
        </div>
    </div>
</section>
